/* General styling */
/* Rainbow: https://unsplash.com/photos/x0tB8fltGqU */
/* https://unsplash.com/photos/6R3dGQJ3qOI */

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

img {
  display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: 2.2rem;
}

h2, .p2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1.1rem;
}

button {
  /* background: linear-gradient(45deg, #fee, #efe, #eef); */
  background: none;
  border: 1px solid #000;
  transition: all 0.24s;
}

button:not(:disabled):hover {
  cursor: pointer;
  background: #ccfff6ad
}

button:not(:disabled):active {
  background: #bcffe3ad
}

.right {
  float: right;
}

.div-flex {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-grow: 1;
}

.div-flex div, .div-flex button {
  width: 100%;
}

/* Element styling */
#div-outer {
  margin: auto;
  max-width: 800px;
  padding: 0 8px;
  background: #ffffffbf;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

#div-footer {
  text-align: center;
}

#div-bg {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../img/rainbow.jpg');
  background-size: cover;
  background-position: center;
}

.icon-event {
  font-size: 1.8rem;
}

.btn-social img, .btn-social span.icon-social, .btn-link span.icon-link {
  padding: 3px;
  width: 30px;
  height: 30px;
  font-size: 32px;
  vertical-align: middle;
}

.btn-social span, .btn-link span {
  width: 100%;
}

.btn-social, .btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 40px;
  font-size: 16px;
}

.a-link {
  text-decoration: none;
}

.btn-link {
  width: 100%;
}

@media screen and (min-width: 820px) {
  #div-outer {
    margin-top: 20px;
    border-radius: 4px;
  }
  
}