:root {
  --fc-list-event-hover-bg-color: #d5e1ebd7;
}

.fc .fc-list-event td {
  transition: background-color 0.24s;
}

.fc .fc-list-table tbody > tr:first-child th, .fc .fc-list-sticky .fc-list-day > * {
  z-index: 1;
}

.fc-event {
  cursor: pointer;
}

#a-calendar-back {
  border: none;
  width: 32px;
  margin-left: -8px;
  margin-bottom: -2px;
  padding-left: 6px;
  padding-bottom: 4px;
  border-top-left-radius: var(--var-border-radius-lg);
}

#a-calendar-back span {
  font-size: 28px;
  vertical-align: text-bottom;
}

#div-calendar {
  margin-top: 12px;
}