:root {
  --fc-list-event-hover-bg-color: #d5e1ebd7;
}

.fc .fc-list-event td {
  transition: background-color 0.24s;
}

.fc .fc-list-table tbody > tr:first-child th, .fc .fc-list-sticky .fc-list-day > * {
  z-index: 1;
}

.fc-event {
  cursor: pointer;
}

#a-calendar-back {
  border: none;
  width: 32px;
  margin-left: -8px;
  margin-bottom: -2px;
  padding-left: 6px;
  padding-bottom: 4px;
  border-top-left-radius: var(--var-border-radius-lg);
}

#a-calendar-back span {
  font-size: 28px;
  vertical-align: text-bottom;
}

#btn-calendar-sub {
  border: none;
  /* width: 180px; */
  margin-right: -8px;
  margin-bottom: -2px;
  padding: 0 8px 6px;
  border-top-right-radius: var(--var-border-radius-lg);
  font-size: 20px;
  /* border-bottom: 1px solid #000;
  border-left: 1px solid #000; */
}

#btn-calendar-sub span {
  font-size: 26px;
  vertical-align: text-bottom;
}

#div-calendar {
  margin-top: 12px;
}