.fc .fc-list-table tbody > tr:first-child th, .fc .fc-list-sticky .fc-list-day > * {
  z-index: 1;
}

.fc-event {
  cursor: pointer;
}

#a-calendar-back {
  border: none;
  width: 32px;
}

#a-calendar-back span {
  font-size: 28px;
  vertical-align: text-bottom;
}